@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-Color: #2D0160;
    --secondary-Color: #FED049;
    --text-Color: #392C7D;
    --alert-Color: #0099ff;
    --success-Color: #E6FFF5;
    --warning-Color: #EE8800;
    --error-Color: #F3D7FB;
    --grey-Color: #6b7385;
    --black-Color: #101828;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color: ;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 8px 25px;
    --button-border-radius: 50px;
    --button-font-weight: 500;
    --heading:50px;
	--heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
    --logo-border-radius: 15px;
    --jumbotron-padding: 50px 22px;
    --section-padding:30px 0px;

}
.fdb-block {
    padding: 0rem 0;
}
html{
    scroll-behavior: smooth;
}
/* headerhdm8ad340b3 */
.headerhdm8ad340b3{
    background-color: var(--primary-Color);
}
.headerhdm8ad340b3 .bg-white {
    background-color: var(--primary-Color) !important;
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link {
    color: var(--success-Color);
}
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link:hover {
    color: var(--secondary-Color);
}
.headerhdm8ad340b3 .btn-primary,
.headerhdm8ad340b3 .btn-primary:not(:disabled):not(.disabled):active{
    font-weight: var(--button-font-weight);
    background-color: var(--alert-Color);
    border-radius: var(--button-font-weight);
    padding: var(--button-padding);
}
.headerhdm8ad340b3 .logo{
    max-height: 60px;
    border-radius: var(--logo-border-radius);
}
.headerhdm8ad340b3 .navbar-open-icon,
.headerhdm8ad340b3 .navbar-close-icon{
    color: var(--main-Background-Color);
}
/* aboutd1e3f52aae36e7047 */
.aboutd1e3f52aae36e7047{
    background-color: var(--primary-Color);
}
.aboutd1e3f52aae36e7047 .bg-white {
    background-color: var(--primary-Color) !important;
}
.aboutd1e3f52aae36e7047 .DescriptionHeading {
    font-size: var(--heading);
    color: var(--main-Background-Color);
}
.aboutd1e3f52aae36e7047 .DescriptionPara{
    color: var(--error-Color);
    font-size: var(--paragraph);
}
.aboutd1e3f52aae36e7047 .btn-outline-secondary,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:hover,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:not(:disabled):not(.disabled):active{
    font-weight: var(--button-font-weight);
    border-color: var(--secondary-Color);
    background-color: var(--secondary-Color);
    color: var(--black-Color);
}
.aboutd1e3f52aae36e7047 .text-secondary{
    display: none;
}
.aboutd1e3f52aae36e7047 .jumbotron{
    padding: var(--jumbotron-padding);
}
/* clientsc724c807cc8b8e9ab */
.clientsc724c807cc8b8e9ab h2{
    font-size: var(--heading-large);
}
.clientsc724c807cc8b8e9ab span{
    font-size: var(--paragraph);
}
.clientsc724c807cc8b8e9ab #clients{
    padding: 50px 0;
}
.clientsc724c807cc8b8e9ab{
    padding: var(--section-padding);
}
.clientsc724c807cc8b8e9ab #clients .client-logo{
    overflow: visible;
}
@media only screen and (min-width: 446px) and (max-width: 487px) {
    .clientsc724c807cc8b8e9ab h2{
        text-align: center;
    }
  }
/* fernandof38911b935c3ef6d9 */
.fernandof38911b935c3ef6d9{
    padding: var(--section-padding);
}
.fernandof38911b935c3ef6d9 .fdb-block {
    padding: 0rem 0;
}
.fernandof38911b935c3ef6d9 .pb-md-5{
    padding-bottom: 0rem !important;
}
.fernandof38911b935c3ef6d9 h1 {
    font-size: var(--heading-large);
}
.fernandof38911b935c3ef6d9 .btn-primary,
.fernandof38911b935c3ef6d9 .btn-primary:hover,
.fernandof38911b935c3ef6d9 .btn-primary:not(:disabled):not(.disabled):active{
    font-weight: var(--button-font-weight);
    background-color: var(--alert-Color);
    border-radius: var(--button-font-weight);
    padding: var(--button-padding);
    border: none;
}
.fernandof38911b935c3ef6d9 strong {
    font-weight: 500 !important;
}
.fernandof38911b935c3ef6d9 .lead{
    font-size: var(--paragraph);
}
/* counteraf598102c9dad94e */
.counteraf598102c9dad94e h2{
    font-size: var(--heading-large);
    color: var(--warning-Color);
}
.counteraf598102c9dad94e h4 {
    font-size: var(--paragraph);
    color: var(--grey-Color);
}
.counteraf598102c9dad94e{
    padding: var(--section-padding);
}
/* calltoactioncapzr97jkms */
.calltoactioncapzr97jkms{
    padding: var(--section-padding);
}
.calltoactioncapzr97jkms .fdb-block {
    padding: 0rem 0;
}
.calltoactioncapzr97jkms h1{
    font-size: var(--heading-large);
}
.calltoactioncapzr97jkms .lead{
    font-size: var(--paragraph);
}
.calltoactioncapzr97jkms .btn-secondary,
.calltoactioncapzr97jkms .btn-secondary:hover,
.calltoactioncapzr97jkms .btn-secondary:not(:disabled):not(.disabled):active
{
    font-weight: var(--button-font-weight);
    background-color: var(--alert-Color);
    border-radius: var(--button-font-weight);
    padding: var(--button-padding);
}
/* aboutd390a380620aac0e */
.aboutd390a380620aac0e{
    padding: var(--section-padding);
}
.aboutd390a380620aac0e h2{
    display: none;
}
.aboutd390a380620aac0e .para{
    font-size: var(--heading-medium);
    color: var(--black-Color) !important;
}
.aboutd390a380620aac0e .video_card>.btn{
    background-color: var(--alert-Color);
}
/* aboutbf5e9e9e7ee746db */
.aboutbf5e9e9e7ee746db{
    padding: var(--section-padding);
}
.aboutbf5e9e9e7ee746db .DescriptionHeading{
font-size: var(--heading-large);
color: var(--primary-Color);
}
.aboutbf5e9e9e7ee746db .searchBtn{
    font-weight: var(--button-font-weight);
    background-color: var(--primary-Color);
    border-radius: var(--button-font-weight);
    padding: var(--button-padding);
}
/* abouteb092de7c8df0610 */
.abouteb092de7c8df0610{
    padding: var(--section-padding);
}
.abouteb092de7c8df0610 #AbOuTuS{
    font-weight: var(--button-font-weight);
    padding: 0rem;
}
.abouteb092de7c8df0610 h2{
    font-size: var(--heading-medium);
}
/* testimonialtmgmxjq0hb8 */
.testimonialtmgmxjq0hb8{
    padding: var(--section-padding);
}
.testimonialtmgmxjq0hb8 .lead{
    font-size: var(--paragraph);
}
.testimonialtmgmxjq0hb8 .fdb-block{
    padding: 1rem 0;
}
/* footerb6c9fcc0294384085 */
.footerb6c9fcc0294384085 footer{
    background: var(--main-Background-Color);
}
.footerb6c9fcc0294384085 .text-white{
    color: var(--black-Color) !important;
}
.footerb6c9fcc0294384085 a,
.footerb6c9fcc0294384085 a:hover{
    color: var(--black-Color);
}
.footerb6c9fcc0294384085 .form-control:focus{
    background: var(--main-Background-Color);
}
.footerb6c9fcc0294384085 .mini-footer{
    background: var(--black-Color);
}
.footerb6c9fcc0294384085 .mini-footer p a {
    display: none;
}
.footerb6c9fcc0294384085 h5{
    font-size: var(--paragraph);
}
.footerb6c9fcc0294384085 .small{
    font-size: 16px;
}
.footerb6c9fcc0294384085 .mini-footer p{
    font-size: 16px;
}